* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

body.login-page,
body.signup-page{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  background-color: rgb(103, 103, 202);
  color: white;
  height: 120px;
  min-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  font-size: 24px;
}

.menubar {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a{
  font-size: 25px;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ADD8E6;
}

.login {
  display: flex;
  align-items: center;
}

.login a {
  font-size: 16px;
  color: rgb(220,220,220);
}

.login ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.login ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.login li {
  color: rgb(220,220,220);
}

.container_first {
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.container_first img {
  margin-right: 100px;
  margin-top: 50px;
  width: 40%;
  border-radius: 40px;
  box-shadow: 0 0 20px rgb(184, 184, 204);
}

.container_first h3{
  color: black;
}

.content {
  flex-grow: 1;
}

.container_second {
  text-align: center;
  display: flex;
}

.text_image {
  flex: 33.33%;
  padding: 10px;
}

.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.2);
  border: 2px solid rgb(103, 103, 202);
}

.login-container h2 {
  text-align: center;
  color: rgb(103, 103, 202);
}

.login-form {
  margin-top: 20px;

}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(103, 103, 202);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
  background-color: rgb(103, 103, 202);
}

.signup-link {
  text-align: right;
  margin-top: 10px;
}

.login-container button{
  text-align: right;
}

.signup-link a, button{
  color: rgb(103, 103, 202);
  text-decoration: none;
  border: 2px solid rgb(103, 103, 202);
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-link a:hover, button:hover{
  background-color: rgb(103, 103, 202);
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.redirect-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-back {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(103, 103, 202);
  padding: 10px;
  border-radius: 10%;
  display: flex;
  align-items: center;
}

.button-label {
  color: white;
  margin-left: 5px;
}

.container-contact {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite alternate;
}

.container-contact h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.container-contact p {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}

.container-contact ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}

.container-contact li {
  color: #444;
  margin-bottom: 10px;
}

@keyframes colorPulse {
  0% {
    background-color: #00ff08;
  }
  25% {
    background-color: #0905f7;
  }
  50% {
    background-color: #ff00dd;
  }
  75% {
    background-color: #ebfc06;
  }
  100% {
    background-color: #ff00ea;
  }
}

.support-button {
  text-align: right;
  margin-top: 30px;
}

.support-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #008cba;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  animation: colorPulse 2s infinite alternate-reverse;
}

.support-button a:hover {
  background-color: #0073e6;
}

.footer {
  background-color: rgb(103, 103, 202);
  color: white;
  height: 50px;
  min-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
}

.flex-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome_container {
  margin-bottom: 20px;
  margin-top: 40px;
}

.tasks_do_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.task_do {
  margin: 150px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #fff;
  color: black;
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task_do:hover {
  color: black;
}

.main_container1 {
  text-align: center;
}

.task_container {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-right: 90px;
  margin-left: 90px;
  margin-top: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #fff;
  color: black;
  justify-content: center;
  width: 300px;
}

.task_buttons{
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgb(103, 103, 202);
  color: white;
  border: none;
}

.task_buttons:hover{
  color: #ADD8E6;;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

span{
  color: black
}

.individual-task {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #fff;
  color: black;
  width: 300px;
  margin-top: 150px;
}

.button-edit {
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgb(103, 103, 202);
  color: white;
  border: none;
  border-radius: 10px;
  width: 65px;
}

.button-container{
  padding-left: 152px;
  padding-bottom: 10px;
}

.register-btn {
  background-color: white;
  width: 63px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  line-height: normal;
  display: block;
}

.user_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}