<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo">
            <div class="logo_text">
                <h1>To-Do List</h1>
            </div>
        </div>
        <div class="menubar">
            <ul class="menu">
                <li><a href="/">Main page</a></li>
                <li><a href="lists">Lists</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="login">
            <ul>
                <li><a href="login">Login</a> | <a href="signup">Sign up</a></li>
            </ul>
        </div>
    </div>
    <div class="container-contact">
        <h1>Contact Us</h1>
        <p>If you have any questions or inquiries, feel free to contact us:</p>
        <ul>
            <li>Email: example@example.com</li>
            <li>Phone: +1234567890</li>
            <li>Address: 123 Main Street, City, Country</li>
        </ul>
        <div class="support-button">
            <a href="#">Support Us</a>
        </div>
    </div>
    <div class="footer">
        <p>To-Do List</p>
    </div>
</body>
</html>