<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}" />
  <title>Title</title>
</head>
<body>
<div class="header">
  <div class="login">
    <ul>
      <li><a href="login">Login</a> | <a href="signup">Sign up</a></li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo_text">
      <h1>To-Do List</h1>
    </div>
  </div>
  <div class="menubar">
    <ul class="menu">
      <li><a href="#">Main page</a></li>
      <li><a href="#">Lists</a></li>
      <li><a href="contacts">Contacts</a></li>
    </ul>
  </div>
</div>
<div class="main">
  <div class="picture">
    <img src=".../static/images/training.png" alt="" width="600px" height="350px">
    <h1>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
      numquam blanditiis.<br>
      Repudiandae porro, quibusdam magni nulla reiciendis at sed obcaecati omnis molestias!<br>
      Cumque aliquid ullam alias blanditiis, deleniti eveniet quasi.<br>
    </h1>
  </div>
  <div class="second_picture">
    <img src=".../static/images/image_first.jpg" alt="" width="300px" height="auto">
    <img src=".../static/images/image_second.jpg" alt="" width="300px" height="auto">
    <img src=".../static/images/image_third.jpg" alt="" width="300px" height="auto">
  </div>
</div>
</body>
</html>