<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}"  />
    <title>Lists</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="logo">
        <div class="logo_text">
            <h1>To-Do List</h1>
        </div>
    </div>
    <div class="menubar">
        <ul class="menu">
            <li><a href="/">Main page</a></li>
            <li><a href="#">Lists</a></li>
            <li><a href="contacts">Contacts</a></li>
        </ul>
    </div>
    <div class="login">
        <ul>
            <li><a href="login">Login</a> | <a href="signup">Sign up</a></li>
        </ul>
    </div>
</div>
<div class="footer">
    <p>To-Do List</p>
</div>
</body>
</html>