<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="signup-page">

<div class="login-container">
    <div class="button-back">
        <a href="home">Back</a>
    </div>
    <h2>Login page</h2>
    <br>
    <form th:action="@{/login}" th:object="${user}" enctype="multipart/form-data" method="post">
        <input class="input-box" type="text" name="username" placeholder="Username">
        <br>
        <input class="input-box" type="password" name="password" placeholder="Password">
        <br>
        <div class="button-container">
            <button class="register-btn" type="submit">Login</button>
        </div>
    </form>
    <div class="signup-link">
        <span>Dont have an account? </span>
        <a href="register">Sign up</a>
    </div>
</div>
</body>
</html>