<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body class="signup-page">

    <div class="login-container">
        <div class="button-back">
            <a href="index">Back</a>
        </div>
        <h2>Sign Up</h2>
        <form class="login-form" action="process_signup.php" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
            <input type="submit" value="Sign Up" id="submit_button">
        </form>
        <div class="signup-link">
            <span>Have an account? </span>
            <a href="login">Login</a>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Пароли не совпадают. Не правильно.</p>
        </div>
    </div>

    <script>
        document.getElementById("submit_button").addEventListener("click", function(event) {
            var password = document.getElementById("password").value;
            var confirm_password = document.getElementById("confirm_password").value;

            if (password !== confirm_password) {
                var modal = document.getElementById("myModal");
                modal.style.display = "block";

                var closeBtn = document.getElementsByClassName("close")[0];
                closeBtn.onclick = function() {
                    modal.style.display = "none";
                }

                event.preventDefault();
            }
        });
    </script>
</body>
</html>