<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{css/style.css}"  />
  <link rel="stylesheet" href="../static/css/style.css"/>
  <title>Title</title>
</head>
<body>
<div class="header">
  <div class="logo">
    <div class="logo_text">
      <h1>To-Do List</h1>
    </div>
  </div>
  <div class="menubar">
    <ul class="menu">
      <li><a href="/">Main page</a></li>
      <li><a href="task_do">Tasks</a></li>
      <li><a href="contacts">Contacts</a></li>
    </ul>
  </div>
  <div class="login">
    <ul>
      <li><a href="login">Login</a> | <a href="signup">Sign up</a></li>
    </ul>
  </div>
</div>
<div class="flex-wrapper">
  <div class="main_container1">
    <h1>All tasks ([TASKCOUNT])</h1>
    <br class="line">
    <div class="task_container">
      <h1>TASK NAME</h1>
      <p>TASK DESCRIPTION</p>
      <p>TASK DATE</p>
      <p>TASK STATUS</p>
      <button class="task_buttons">Done ✔</button>
      <br>
      <button class="task_buttons">Update 📝</button>
    </div>
    <div class="task_container">
      <h1>TASK NAME</h1>
      <p>TASK DESCRIPTION</p>
      <p>TASK DATE</p>
      <p>TASK STATUS</p>
      <button class="task_buttons">Done ✔</button>
      <br>
      <button class="task_buttons">Update 📝</button>
    </div>
    <div class="task_container">
      <h1>TASK NAME</h1>
      <p>TASK DESCRIPTION</p>
      <p>TASK DATE</p>
      <p>TASK STATUS</p>
      <button class="task_buttons">Done ✔</button>
      <br>
      <button class="task_buttons">Update 📝</button>
    </div>
  </div>
</div>
</body>
</html>