<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Task List</title>
</head>
<body>
<div class="flex-wrapper">
    <div class="header">
        <div class="logo">
            <div class="logo_text">
                <h1>To-Do List</h1>
            </div>
        </div>
        <div class="menubar">
            <ul class="menu">
                <li><a href="/">Main page</a></li>
                <li><a href="task_do">Tasks</a></li>
                <li><a href="contacts">Contacts</a></li>
            </ul>
        </div>
        <div class="login">
            <ul>
                <li><a href="login">Login</a> | <a href="register">Sign up</a></li>
            </ul>
        </div>
    </div>
    <div class="main_container1">
        <br>
        <h1>All tasks</h1>
        <br class="line">
        <div id="tasksContainer">
            <div class="individual-task" th:each="task : ${tasks}">
                <h1 class="task_text" th:text="${task.taskTitle}"></h1>
                <br>
                <p class="task_text" th:text="${task.taskDescription}"></p>
                <br>
                <br>
                <form th:action="@{/deleteTask}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.taskId}" />
                    <button class="task_buttons" type="submit">Done ✔</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>To-Do List</p>
    </div>
</div>
</body>
</html>
